body {
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style: none;
    margin: 0;
}

li {
    margin-left: 25px;
}

img {
    width: 400px;
    height: auto;
}

/** HEADER **/

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 12px 270px;
}

.header-links {
    display: flex;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

/** SECTION ONE **/

.section-one {
    display: flex;
    justify-content: space-between;
    padding: 130px 270px;
    background-color: #1F2937;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #F9FAF8;
    width: 450px;
}

.hero-header {
    font-size: 48px;
    font-weight: 800;
}

.hero-subtext {
    font-size: 18px;
    margin-bottom: 4px;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    border: 0;
    width: 100px;
    height: 30px;
    font-weight: 800;
}

/* SECTION TWO */

.info-header {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 65px 0px;
}

.section-two {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 30px;
    margin-bottom: 130px;
}

.info {
    width: 200px;
}

.info > img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    border: 3px solid #3882F6;
}

.info-subtext {
    font-size: 18px;
    text-align: center;
}

/* SECTION THREE */
.section-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 130px 0px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 920px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: justify;
}

.quotee {
    display: flex;
    align-self: end;
    font-size: 25px;
    font-weight: 800;
}

/* SECTION FOUR */

.section-four {
    display: flex; 
    justify-content: center;
    padding: 130px 0px;
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    background-color: #3882F6;
    width: 1194px;
    height: 151px;
    justify-content: center;
    border-radius: 8px;
}

.sign-up-header {
    color: #F9FAF8;
    font-weight: 800;
    font-size: 25px;
    margin-left: 100px;
}

.sign-up-subtext {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    margin-left: 100px;
}

.bottom-button {
    flex-shrink: 0;
    margin-left: auto;
    margin-right: 100px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    border: 2px solid #F9FAF8;
    font-weight: 800;
    width: 100px;
    height: 30px;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    padding: 65px 0px;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}