body {
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

img {
    width: 200px;
    height: auto;
}